<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keithmackay.games.androidgames">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="._2048.SettingsActivity"
            android:parentActivityName="com.keithmackay.games.androidgames._2048._2048Main"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.keithmackay.games.androidgames.Home" />
        </activity>
        <activity
            android:name=".corners.CornersMain"
            android:label="@string/corners"
            android:parentActivityName="com.keithmackay.games.androidgames.Home"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.keithmackay.games.androidgames.Home" />
        </activity>
        <activity
            android:name="._2048._2048Main"
            android:label="@string/_2048"
            android:parentActivityName="com.keithmackay.games.androidgames.Home"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.keithmackay.games.androidgames.Home" />
        </activity>
        <activity
            android:name=".corners.CornersMain2"
            android:label="@string/corners"
            android:parentActivityName="com.keithmackay.games.androidgames.Home"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.keithmackay.games.androidgames.Home" />
        </activity>
    </application>

</manifest>